################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Walmart/FileContentIndex/932689d0-5cf8-4036-95ed-ffabdf29b0ad.vsidx
/.vs/Walmart/FileContentIndex/4fb00ee6-a9fd-40c3-a294-ea080f2df0d1.vsidx
/.vs/Walmart/FileContentIndex/a2399a76-fbb4-4bab-8805-dc74c062d782.vsidx
/.vs/Walmart/FileContentIndex/a82abaef-c6ec-4164-bb10-24e6ab3fdcc2.vsidx
/.vs/Walmart/FileContentIndex/f01ab4b3-14e9-451b-8abe-1c2f93f2fb6f.vsidx
