
<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Payment Failed!</h1>
		Oops! Something went wrong while processing your payment. <br /> <br />
		<p class="error-code">Error Code: 500</p> <!-- Optional error code -->
		<button class="retry-button" onclick="window.location.href='https://localhost:7029/Admin/Order/Index'">Try Again</button>
@* 		<img src="~/images/lawn_leaf.jpg" width="65%" /> *@
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		
	</div>

</div>
